<%= render 'shared/content_title', title: "Manage Poppin Slots" %>

<%= render 'shared/errors', obj: @slot %>

<%= render 'shared/slots_display', title: "#{user_full_name(@user)}'s Poppin Slots", times: @all_slots %>
<br/>

<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Add a New Slot</h3>
    </div>
    <div class="panel-body">
      <%= form_for @slot do |f| %>
        <div class="form-group">
          <%= f.label :day_select do %>
          <h4>Select a day</h4>
          <div class="radio">
            <label><%= f.radio_button :day, 'Sunday' %>
            Sunday &nbsp;</label>
            <label class="radio-inline"><%= f.radio_button :day, 'Monday' %>
            Monday &nbsp;</label>
            <label class="radio-inline"><%= f.radio_button :day, 'Tuesday' %>
            Tuesday</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :day, 'Wednesday' %>
            Wednesday &nbsp;</label>
            <label class="radio-inline"><%= f.radio_button :day, 'Thursday' %>
            Thursday &nbsp;</label>
            <label class="radio-inline"><%= f.radio_button :day, 'Friday' %>
            Friday</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :day, 'Saturday' %>
            Saturday</label>
          </div>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label 'From' %>
          <%= f.text_field :start_time, class: 'form-control', placeholder: 'Enter start time - eg. 10am, noon, sunrise' %>
        </div>
        <div class="form-group">
          <%= f.label 'To' %>
          <%= f.text_field :end_time, class: 'form-control', placeholder: 'Enter end time - eg. 6pm, midnight, sunset' %>
        </div>
        <div class="form-group">
          <%= f.label "Slot description" %>
          <%= f.text_area :label, class: 'form-control', placeholder: 'Optional description - eg. Pop in for board games!' %>
        </div>
      <%= f.submit 'Add Slot', class: 'btn btn-success' %>
      <% end %>
    </div>

  </div>
</div>