<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <% if @user.id == nil %>Enter Your Information
        <% else %>Update Your Information
        <% end %>
      </h3>
    </div>
    <div class="panel-body">
      <%= form_for @user do |f| %>
      <%= render 'shared/errors', obj: @user %>
        <p>First and last name will be shown to people you invite to use Poppin</p>
        <div class='form-group'>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <p>Username and password are used to log in to Poppin</p>
        <div class='form-group'>
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :time_zone, 'Time Zone' %>
          <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name %>
        </div>
      <% if @user.id == nil %>
        <p>Were you invited by a friend to user Poppin? Enter their invite code below</p>
        <div class='form-group'>
          <%= label_tag 'invite_code' %>
          <%= text_field_tag 'invite_code', nil, class: 'form-control' %>
        </div>
        <% end %>
      <%= f.submit (@user.new_record? ? "Register" : "Update Profile"), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>